<!--0<p>list works!</p>-->
<h3>Listado de Héroes</h3>

<div *ngIf="deletedHeroe; else nothingWasDeleted">
  <h3>Héroe borrado: <small class="text-danger"> {{deletedHeroe}} </small></h3>
</div>

<!--<h3 *ngIf="!deletedHeroe">No ha borrado nada</h3>-->

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button *ngIf="heroeNames.length > 0" (click)="removeLastHeroe()" class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let item of heroeNames" class="list-group-item">{{item}}</li>
  <!--<li class="list-group-item">Spiderman</li>
  <li class="list-group-item">Ironman</li>
  <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Thor</li>-->
</ul>
